{% extends '@App/layout.html.twig' %}

{% block title %}{{ 'result'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ host }}</h2>

        {{ knp_pagination_render(pagination) }}

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr class="active">
                    <th>{{ 'broken_link'|trans }}</th>
                    <th>{{ 'page'|trans }}</th>
                    <th>{{ 'status'|trans }}</th>
                </tr>

                {% for link in pagination %}
                    <tr>
                        <td><a target="_blank" href="{{ link.link }}">{{ link.link }}</a></td>
                        <td><a target="_blank" href="{{ link.page }}">{{ link.page }}</a></td>
                        <td>
                            {% if link.status|slice(0, 1) == 4 %}
                                <button class="btn btn-warning btn-xs">{{ link.status }}</button>
                            {% else %}
                                <button class="btn btn-danger btn-xs">{{ link.status }}</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>

        {{ knp_pagination_render(pagination) }}

    </div>
{% endblock %}
