<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/sticky-footer-navbar.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/styles.css') }}" rel="stylesheet">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/ie10-viewport-bug-workaround.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
