{{ form_start(form) }}

    {% include '@App/@partials/form-success.html.twig' %}

    <div class="form-group {% if not form.name.vars.valid %}has-error{% endif %}">
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group {% if not form.email.vars.valid %}has-error{% endif %}">
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group {% if not form.message.vars.valid %}has-error{% endif %}">
        {{ form_widget(form.message) }}
        {{ form_errors(form.message) }}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

{{ form_end(form) }}