<tr>
    <td><a target="_blank" href="{{ link.link }}">{{ link.link }}</a></td>
    <td><a target="_blank" href="{{ link.page }}">{{ link.page }}</a></td>
    <td>
        {% if link.status|slice(0, 1) == 4 %}
            <button class="btn btn-warning btn-xs">{{ link.status }}</button>
        {% else %}
            <button class="btn btn-danger btn-xs">{{ link.status }}</button>
        {% endif %}
    </td>
</tr>