<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">404 Links</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('about') }}">{{ 'about'|trans }}</a></li>
                <li><a href="{{ path('news') }}">{{ 'news'|trans }}</a></li>
                <li><a href="{{ path('contacts') }}">{{ 'contacts'|trans }}</a></li>
                <li><a href="{{ path('language', {'language':'ru'}) }}">ru |</a></li>
                <li class="language"><a href="{{ path('language', {'language':'en'}) }}">en</a></li>
            </ul>
        </div>
    </div>
</nav>